 <!-- social user  start -->
 <div class="col-xl-4 col-md-6">
  <div class="card social-user o-hidden">
    <div class="card-header">
      <h5>Physics <span class="text-muted d-inline-block m-l-5">- Ms. Neelima Choudhary</span></h5>
    </div>
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-auto">
          <img class="img-80 img-radius" src="assets/images/subject/physics.png">
        </div>
        <div class="col">
          <p class="m-b-0">4<b> pending assignments</b></p>
          <p class="m-b-0">Unit Test is scheduled for Fri</p>
        </div>
      </div>
      <i class="fa fa-rocket text-twitter bg-icon"></i>
    </div>



    <div class="card-footer bg-primary text-center p-0">
      <div class="row m-l-0 m-r-0">
        <a href="javascript:" class="col p-t-10 p-b-10 text-white waves-light" mdbRippleRadius><i class="fa fa-info m-r-10" ></i>Details</a>
        <a href="javascript:" class="col p-t-10 p-b-10 text-white bg-twitter waves-light" mdbRippleRadius><i class="fa fa-rocket m-r-10"></i>Activity Log</a>
      </div>
    </div>
  </div>
